.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__register-button {
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 200ms ease;
}
.header__register-button:hover {
  color: var(--black-hover);
}
