.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1000px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .products-container > div {
    margin: 0 auto;
  }
}
@media screen and (max-width: 660px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .products-container > div {
    margin: 0 auto;
  }
}
