@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap');

:root {
  --primary-color: #2e6bc6;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 0;
}
html {
  font-size: 10px;
}
