.cart {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.cart-price {
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 200ms ease;
}
.cart:hover > .cart-icons > .cart-icon,
.cart:hover > .cart-price {
  color: var(--black-hover);
}
.cart-icons {
  position: relative;
}
.cart-icon {
  font-size: 2.5rem;
  transition: all 200ms ease;
}
.cart-quantity {
  position: absolute;
  top: -0.8rem;
  right: -0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: var(--primary-color);
  color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
